<header>
    <div class="hero">{{ meta[:workspacename] }}</div>
</header>
<nav>
    <ul>
        {% let homeicon = joinpath( meta[:mountpath], "static/images/picol/home.svg" ) %}
            <li><a href="{{ meta[:mountpath] }}"><img src="{{ homeicon }}"/></a></li>
        {% end %}

        {% let nav = meta[:nav] %}
            {% for entry in nav %}
                {% let fullpath = joinpath(meta[:mountpath], entry[:path]) %}
                    <li><a href="{{ fullpath }}">{{ entry[:name] }}</a></li>
                {% end %}
            {% end %}
        {% end %}

        {% let searchicon = joinpath( meta[:mountpath], "static/images/picol/search.svg" ); searchpath = joinpath( meta[:mountpath], "recherche" ) %}
            <li><a href="{{ searchpath }}"><img src="{{ searchicon }}"/></a></li>
        {% end %}
    </ul>
</nav>
