<!DOCTYPE html>
<html lang="fr">
    <head>
        {% let csspath = joinpath( meta[:mountpath], "static/css/main.css" ) %}
            <link rel="stylesheet" href="{{ csspath }}">
        {% end %}
        <meta charset="utf-8" />
        <script src="https://unpkg.com/lunr/lunr.js"></script>
        <script src="https://unpkg.com/lunr-languages/lunr.stemmer.support.js"></script>
        <script src="https://unpkg.com/lunr-languages/lunr.fr.js"></script>
    </head>
    <body>
        {% include "templates/header.html" %}
        <main>
            <h1>Recherche</h1>
            <input type="text" id="searchBox" placeholder="Rechercher un terme" />
            <div id="results"/>
        </main>
        {% include "templates/footer.html" %}
        {% include "templates/scripts.html" %}
        <script>
            // for lunrconf
            window.MOUNTPATH = "{{ meta[:mountpath] }}";
        </script>
        {% let lunrconf = joinpath( meta[:mountpath], "static/js/lunrconf.js" ) %}
            <script src="{{ lunrconf }}"></script>
        {% end %}
    </body>
</html>
