<footer>
  <figure class="bandeau">
    <a href="https://www.normandie.fr/">
     <img src="/static/images/normandie.png" class="img_bandeau" alt="Drapeau de la Normandie, composé des deux léopards d'or sur fond rouge">
    </a>
  </figure>
  <figure class="bandeau">
    <a href="https://www.europarl.europa.eu/portal/fr">
     <img src="/static/images/ue.png" class="img_bandeau" alt="Drapeau de l'Union européenne composé de 12 étoiles en cercle, situé au milieu d'un rectangle bleu. Un texte en dessous indique : Fonds européen de développement régional">
    </a>
  </figure>
   <figure class="bandeau">
    <a href="https://www.univ-rouen.fr/">
     <img src="/static/images/urn.png" class="img_bandeau" alt="Logo de l'Université de Rouen">
    </a>
  </figure>
   <figure class="bandeau">
    <a href="https://www.purh-ed.fr/">
     <img src="/static/images/purh.png" class="img_bandeau" alt="Logo des Presses universitaires de Rouen et du Havre qui représente un phare noir stylisé sur fond blanc">
    </a>
  </figure>
  <figure class="bandeau">
    <a href="https://ceredi.hypotheses.org/">
     <img src="/static/images/ceredi.png" class="img_bandeau" alt="Logo du CÉRÉdI bleu et blanc">
    </a>
  </figure>
</footer>
