<!DOCTYPE html>
<html>
    {% include "templates/head.html" %}
    <body>
        {% include "templates/header.html" %}
        <main>
            <article class="news">
                <h2>Actualités</h2>
                {% let news = content[:news] %}
                    {% for n in news %}
                        <section>
                            <a href="{{ n[:path] }}">{{ n[:title] |> safe }}</a>
                            <span class="corpus">
                                {% let corpus = n[:corpus] %} {{ corpus[:name] }} {% end %}
                            </span>
                        </section>
                    {% end %}
                {% end %}
            </article>
        </main>
        {% include "templates/footer.html" %}
        {% include "templates/scripts.html" %}
    </body>
</html>
