<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="/static/css/main.css">
        <meta charset="utf-8" />
        <script src="https://unpkg.com/lunr/lunr.js"></script>
        <script src="https://unpkg.com/lunr-languages/lunr.stemmer.support.js"></script>
        <script src="https://unpkg.com/lunr-languages/lunr.fr.js"></script>
    </head>
    <body>
        {% include "templates/header.html" %}
        <main>
            <h1>Recherche</h1>
            <input type="text" id="searchBox" placeholder="Rechercher un terme" />
            <div id="results"/>
        </main>
        {% include "templates/footer.html" %}
        {% include "templates/scripts.html" %}
        <script src="/static/js/lunrconf.js"></script>
    </body>
</html>
