<!DOCTYPE html>
<html>
    <head>
        {% let csspath = joinpath( meta[:mountpath], "static/css/main.css" ) %}
            <link rel="stylesheet" href="{{ csspath }}">
        {% end %}
        <meta charset="utf-8" />
    </head>
    <body>
        <header style="margin: auto; padding: 2em;">
            <nav>
                <a href="{{ meta[:mountpath] }}">Retour à l'accueil</a>
            </nav>
        </header>
        <main style="width: 800px; margin: auto; padding: 2em;">
            {% let updatepath = joinpath( meta[:mountpath], "workspace/update" ) %}
                <form action="{{ updatepath }}" method="post">
                    <label for="styloapikey">Clé API Stylo</label><br>
                    <input style="width: 100%;" type="text" id="styloapikey" name="styloapikey"><br>
                    <label for="workspaceid">Identifiant du workspace</label><br>
                    <input style="width: 100%;" type="text" id="workspaceid" name="workspaceid">
                    <br/>
                    <label for="hash">Clé de vérification</label><br>
                    <input style="width: 100%;" type="text" id="hash" name="hash">
                    <br/>
                    <input type="submit" value="Mettre à jour le Workspace"/>
                </form>
            {% end %}
        </main>
    </body>
</html>
